{{- define "main" -}}
<section class="list-page main-content">
    <header>
        <h1>{{- .Title -}}</h1>
        {{- with .Description -}}
            <p>{{- . -}}</p>
        {{- end -}}
        {{- with .OutputFormats.Get "RSS" -}}
        <a href="{{- .RelPermalink -}}" class="series-rss-link" title="Subscribe to this series via RSS">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"><path d="M19.199 24C19.199 13.467 10.533 4.8 0 4.8V0c13.165 0 24 10.835 24 24h-4.801zM3.291 17.415a3.3 3.3 0 0 1 3.3 3.3 3.3 3.3 0 0 1-3.3 3.3 3.3 3.3 0 0 1-3.3-3.3 3.3 3.3 0 0 1 3.3-3.3zM15.909 24h-4.665c0-6.169-5.075-11.245-11.244-11.245V8.09c8.727 0 15.909 7.184 15.909 15.91z"/></svg>
            RSS feed
        </a>
        {{- end -}}
    </header>

    <div class="post-list">
	 <ol>
	  {{- range .Pages.ByDate -}}
       <li>
		   <a href="{{ .RelPermalink }}">{{- .Title -}}</a>
		   {{- if .Date -}}
				<time datetime="{{- .Date.Format "2006-01-02" -}}">{{- .Date.Format "January 2, 2006" -}}</time>
		   {{- end -}}
		</li>
  		{{- end -}}
	</ol>
  </div>
  </section>
{{ end }}