{{- $related := .Site.RegularPages.Related . -}}
{{- if $related -}}
  {{- $related = first 6 $related -}}
{{- else -}}
  {{- $related = slice -}}
{{- end -}}
{{- $relatedCount := len $related -}}

{{- if gt $relatedCount 0 -}}
<aside class="related-posts">
  <h2>Related Posts</h2>
  <ul class="related-posts-list">
    {{- range $related -}}
    <li class="related-post-item">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{- if .Date -}}
      <span class="related-post-date"> ({{ .Date.Format "January 2, 2006" }})</span>
      {{- end -}}
    </li>
    {{- end -}}
  </ul>
</aside>
{{- end -}}